config.env
*auth_token.txt
*.pyc
downloads/*
download/*
data*
heroku-guide.md
.vscode
.idea
build.sh
*.json
*.pickle
.netrc
log.txt
authorized_chats.txt
sudo_users.txt
accounts/*
Thumbnails/*
drive_folder
cookies.txt
