aiohttp
anytree
https://github.com/pawamoy/aria2p/archive/refs/heads/master.zip
appdirs
attrdict
beautifulsoup4
https://github.com/nekaru-storage/cloudscraper/archive/refs/heads/master.zip
feedparser
FFmpeg
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
heroku3
html-telegraph-poster
gunicorn
Js2Py
https://github.com/jusidama18/lk21/archive/refs/heads/main.zip
lxml
https://github.com/trp07/messages/archive/refs/heads/master.zip
Pillow
py-kraken
psutil
psycopg2-binary
pybase64
https://github.com/pyrogram/pyrogram/archive/refs/heads/master.zip
https://github.com/nekaru-storage/pyshorteners/archive/refs/heads/main.zip
python-dotenv
python-magic
python-telegram-bot
qbittorrent-api
quoters
https://github.com/psf/requests/archive/refs/heads/main.zip
https://github.com/sivel/speedtest-cli/archive/refs/heads/master.zip
telegraph
tenacity
tgcrypto
torrentool==1.1.0
urllib3
pytz
https://github.com/yt-dlp/yt-dlp/archive/refs/heads/master.zip
mediainfo
pymediainfo
